body {
  box-sizing: border-box;
  margin: 0 auto;
}

.policemen {
  position: absolute;
  background-image: url(/Users/123THC/development/project1/images/policeman.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 300px;
  margin-top: 5%;
  z-index: -1;
}

.Wall {
  background-image: url(/Users/123THC/development/project1/images/brick.png);
  background-size: contain;
  height: 350px;
  margin: 8%;
  display: block;
  margin-top: 10%;
  background-position: center;
  z-index: 2;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
}

.graff {
  background-image: url(/Users/123THC/development/project1/images/graff2.png);
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  width: 50px;
  height: 300px;
  padding: 0px;
  border: 1px solid yellow;
  margin-top: 2%;
  display: inline-block;
  position: relative;
}

.gArtist {
  position: absolute;
  background-image: url(/Users/123THC/development/project1/images/graff.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25px;
  width: 120px;
  height: 350px;
  margin-top: 10%;
  z-index: 3;
}

.Pavement {
  height: 200px;
  background-color: pink;
  z-index: 1;
}

#left{
  margin-left: 30%;
  height: 100px;
  width: 200px;
  background-color: gold;
  border: 2px solid green;
  outline: 0 !important;
  font-size: 12px;
  margin-top: 15px;
}

#right{
  margin-right: 30%;
  height: 100px;
  width: 200px;
  background-color: gold;
  border: 2px solid green;
  outline: 0 !important;
  font-size: 12px;
  margin-top: 15px;
}
