body {
  box-sizing: border-box;
}
.Behind {
  height: 600px;
  background-color: yellow;
}

.policemen {
  position: absolute;
  background-color: red;
  width: 90px;
  height: 90px;
  left: 150px;
  margin-top: 5%;
}

.Wall {
  background-color: blue;
  height: 300px;
  margin: 8%;
  display: block;
  margin-top: 10%;
}

.gArtist {
  position: absolute;
  background-color: #abc;
  margin-left: 25px;
  width: 90px;
  height: 180px;
  margin-top: 10%;
}

#left{
  margin-left: 30%;
  height: 100px;
  width: 200px;
  background-color: gold;
  border: 2px solid green;
  outline: 0 !important;
  font-size: 12px;
  margin-top: 15px;
}

#right{
  margin-right: 30%;
  height: 100px;
  width: 200px;
  background-color: gold;
  border: 2px solid green;
  outline: 0 !important;
  font-size: 12px;
  margin-top: 15px;
}
