body {
  box-sizing: border-box;
  margin: 0 auto;
}

html.locked, html.locked body {
  overflow: hidden;
}

.menu {
  height: 100vh;
  max-width: 1600px;
  background-color: black;
}

.poPoPopUp {
  margin: auto;
  display: block;
}

.HowToPlay {
  margin-top: 5%;
  margin-left: 30%;
  height: 150px;
  width: 500px;
  display: inline;
}

.play {
  margin-left: 40%;
  margin-top: 5%;
  margin-right: 35%;
  height: 150px;
  width: 250px;
}

.score {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin-top: 35px;
  margin-left: 15%;
  margin-right: 200px;
  text-align: center;
  font-size: 30px;
}

.time {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin-top: 35px;
  margin-right: 200px;
  text-align: center;
  font-size: 30px;
}

.warning {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin-top: 35px;
  margin-right: 10%;
  text-align: center;
  font-size: 30px;
}

.winning {
  height: 250px;
  width: 300px;
  font-size: 60px;
  text-align: center;
  color: #f00;
  font-family: 'Caveat Brush', cursive;
  margin-left: 10%;
  display: inline;
  visibility: hidden;
}

.policemen {
  position: absolute;
  background-image: url(../images/policeman.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  left: 600px;
  top: 990px;
  margin-top: 2%;
  z-index: -1;
}

.Wall {
  background-image: url(../images/brick.png);
  background-size: contain;
  height: 350px;
  margin: 8%;
  display: block;
  margin-top: 5%;
  background-position: center;
  z-index: 2;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
}

.graff {
  background-image: url(../images/graff2.png);
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  width: 50px;
  height: 300px;
  padding: 0px;
  margin-top: 2%;
  float: left;
  position: relative;
}

.gArtist {
  position: absolute;
  background-image: url(../images/graff.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 131px;
  width: 120px;
  height: 350px;
  margin-top: 10%;
  z-index: 3;
}

.Pavement {
  height: 80px;
  background-color: pink;
  z-index: 1;
  overflow: auto;
}

#left{
  margin-left: 35%;
  height: 80px;
  width: 150px;
  outline: 0 !important;
  margin-top: 15px;
}

#right{
  margin-right: 35%;
  height: 100px;
  width: 150px;
  outline: 0 !important;
  margin-top: 15px;
}
