body {
  box-sizing: border-box;
  margin: 0 auto;
}

html.locked, html.locked body {
  overflow: hidden;
}

.menu {
  height: 100vh;
  max-width: 1600px;
  background-color: black;
}

.menu.intro .newTry {
  display: none;
}

.menu.intro .poPoPopUp,
.menu.intro .howToPlay,
.menu.intro .play {
  display: block;
}

.poPoPopUp {
  margin: 0 auto 20px;
  display: none;
}

.howToPlay {
  margin: auto;
  margin-left: 30%;
  display: none;
  height: 150px;
  width: 500px;
}

.play {
  margin: auto;
  margin-left: 40%;
  padding-top: 50px;
  display: none;
  height: 150px;
  width: 250px;
}

.score {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin-top: 35px;
  margin-left: 15%;
  margin-right: 200px;
  text-align: center;
  font-size: 25px;
}

.time {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin-top: 35px;
  margin-right: 200px;
  text-align: center;
  font-size: 25px;
}

.warning {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  margin-top: 35px;
  margin-right: 10%;
  text-align: center;
  font-size: 25px;
}

.outcome {
  width: 100%;
  font-size: 60px;
  text-align: center;
  color: #f00;
  font-family: 'Caveat Brush', cursive;
}

.tryAgain {
  height: 250px;
  margin: 50px auto 0;
}

.newTry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.howToGuide {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #fff;
  color: #000;
  height: 520px;
  width: 250px;
  text-align: center;
  float: left;
  display: inline;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.policemen {
  position: absolute;
  background-image: url(../images/policeman.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  left: 600px;
  top: 990px;
  margin-top: 2%;
  z-index: -1;
}

.Wall {
  background-image: url(../images/brick.png);
  background-size: contain;
  height: 350px;
  margin: 8% 8% 2% 8%;
  display: block;
  margin-top: 6%;
  background-position: center;
  z-index: 2;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
}

.graff {
  background-image: url(../images/graff2.png);
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  width: 50px;
  height: 300px;
  padding: 0px;
  margin-top: 2%;
  float: left;
  position: relative;
}

.gArtist {
  position: absolute;
  background-image: url(../images/graff.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 131px;
  width: 120px;
  height: 350px;
  margin-top: 10%;
  z-index: 3;
}

.Pavement {
  height: 80px;
  background-color: pink;
  z-index: 1;
  overflow: auto;
}

#left{
  margin-left: 35%;
  height: 80px;
  width: 150px;
  outline: 0 !important;
  margin-top: 15px;
}

#right{
  margin-right: 35%;
  height: 100px;
  width: 150px;
  outline: 0 !important;
  margin-top: 15px;
}

.behind {
  height: 100vh;
}

.lose {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: grey;
  z-index: 100;
  display: none;
}
