body {
  box-sizing: border-box;
  margin: 0 auto;
}

html.locked, html.locked body {
  overflow: hidden;
}

.menu {
  height: 100vh;
  background-color: black;
  text-align: center;
}

.menu.intro .newTry {
  display: none;
}

.menu.intro .poPoPopUp,
.menu.intro .howToPlay,
.menu.intro .play {
  display: block;
}

.poPoPopUp {
  margin: auto;
  margin-top: 20px;
  display: none;
  width: 50%;
  text-align: center;
}

.howToPlay {
  margin: auto;
  display: none;
  width: 40%;
}

.play {
  margin: auto;
  display: none;
  width: 25%;
}

.score {
  padding-top: 22px;
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

.time {
  padding-top: 22px;
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

.warning {
  padding-top: 22px;
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

.outcome {
  /*width: 100%;
  font-size: 60px;
  text-align: center;
  color: #f00;
  font-family: 'Caveat Brush', cursive;*/
}

.tryAgain {
  /*height: 250px;
  margin: 50px auto 0;*/
}

.newTry {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.howToGuide {
  /*font-family: 'Gloria Hallelujah', cursive;
  background-color: #fff;
  color: #000;
  height: 500px;
  width: 300px;
  text-align: center;
  float: left;
  display: inline;
  visibility: hidden;
  position: fixed;
  top: 55%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 10px;
  border: 2px solid #00f;*/
}

.policeman {
  position: absolute;
  background-image: url(../images/policeman.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin-left: 25%;
  margin-top: 2%;
  z-index: -1;
}

.gamePlayScreen {
  height: 100vh;
}

.Wall {
  background-image: url(../images/brick.png);
  position: absolute;
  background-size: contain;
  height: 375px;
  margin-top: 10%;
  display: block;
  background-position: center;
  width: 80vw;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Wall {
      height: 180px;
      width: 550px;
      margin-left: 65px;
      margin-top: 40px;
    }
    div.gArtist {
      height: 130px;
      width: 130px;
    }
    div.movementControls {
      margin-top: 33%;
    }
    div.movementControls img {
      height: 80px;
      margin-top: 3%;
    }
    div.movementControls #right {
      height: 65px;
    }
    div.policeman {
      height: 120px;
      width: 120px;
    }
    .score, .time, .warning  {
      font-size: 15px;
    }
}

.graff {
  background-image: url(../images/graff2.png);
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  width: 100px;
  height: 320px;
  padding: 0px;
  margin-top: 2%;
  float: left;
  position: relative;
}

.gArtist {
  position: absolute;
  background-image: url(../images/graff.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 275px;
  width: 250px;
  margin-top: 15%;
  margin-left: 7%;
  z-index: 3;
}

.movementControls {
  margin-top: 43%;
}

.movementControls img {
  height: 110px;
  width: auto;
  margin-top: 8%;
}

#left{
  margin-left: 30%;
  padding: 15px;
}

.lose {
  /*position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: grey;
  z-index: 100;
  display: none;*/
}
